   <tr>
        <td><%= pin2.description %></td>
        <td><%= pin2.string %></td>
        <td><%= link_to 'Show', pin2 %></td>
        <td><%= link_to 'Edit', edit_pin2_path(pin2) %></td>
        <td><%= link_to 'Destroy', pin2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>